body {
    height: 100%;
    margin: 0px;
}

.picker-wrapper {
    position: absolute;
    top: 50px;
    left: 72%;
}
.picker-indicator,
.slide-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.picker,
.slide {
    cursor: crosshair;
    float: left;
}

/* Default skin */

.cp-default {
    width: 100%;
    height: 20%;
    background-color: white;
}
.cp-default .picker {
    width: 40%;
    height: 50px;
    opacity: 0.7;
}
.cp-default .slide {
    width: 50px;
}
.cp-default .slide-wrapper {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform:rotate(270deg); /* Safari å’Œ Chrome */  
    -o-transform:rotate(270deg); /* Opera */  
    -ms-transform:rotate(270deg); /* Internet Explorer */  
    -moz-transform:rotate(270deg); /* Firefox */ 
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 75px;
    left: -25px;
    opacity: 0.7;

}
.cp-default .picker-indicator {
    width: 16px;
    height: 16px;
    border: 2px solid black;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    background-color: white;
}
.cp-default .slide-indicator {
    width: 100%;
    height: 20px;
    left: -4px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid lightblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}

article {
    width: 100%;
    height: 80%;
}

#color-content {
    margin-left: 10%;
    width: 400px;
}

#color-content h2{
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 80px;
    margin: 0px;
    background: red;
}

#color-content p{
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 30px;
    margin-top: 0px;
    background-color: yellow;
}


#color-artist {
    border-top: 1px solid #dfdfdf;
    display: none;
    background: white;
    width: 100%;
    height: 300px;
}

#color-artist h2 {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 20px;
    margin: 20px 20px;
    font-weight: normal;
    color: #444444;
}

#color-close-artist {
    position: absolute;
    right: 30px;
    margin-top: 30px;
    width: 20px;
    height: 20px;
    border: 0px;
    outline: none;
    opacity: 0,6;
    cursor: pointer;
    background: url(close.png) no-repeat;
    opacity: 0.6;
}
